<header class="header" role="banner">
  <div class="container">
    {{ page.top_utility }}
  </div>
  <div class="container">
    <div class="mobile_toggle__wrapper">
      <button id="menuToggle" class="mobile_toggle">
        <div class="mobile_toggle__inner">
          <div class="mobile_toggle__icon"></div>
        </div>
      </button>
    </div>
    {{ page.header }}
  </div>
</header>
