# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
/web/core/

# Ignore dependencies that are managed with Composer.
# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
/vendor/
/drush/contrib/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/private/

# Ignore libraries installed via composer
/web/libraries/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/
/drush/Commands/contrib/

# Ignore configuration files that may contain sensitive information.
/web/sites/*/settings.local.php
/web/sites/*/services.local.yml
/web/sites/sites.php
/web/modules/contrib/search_api_solr
local.services.yml
default.settings.php

# Ignore paths that contain user-generated content.
/web/sites/*/files/
/web/sites/*/private/

# Ignore FE files including the dist folder because Jenkins builds this on deploy
/web/themes/custom/*/dist/
/web/themes/custom/*/css/print.css
/web/themes/custom/*/css/mail.css
/web/themes/custom/*/css/style.css
/web/themes/custom/*/js/build/scripts.js
/web/themes/custom/*/node_modules/
web/themes/custom/*/bower_components/

# Custom YP modules
# /web/modules/contrib/search_api_solr/
# /web/modules/custom/onpoint_search_d8/
# /web/modules/custom/alerts_module_d8/

# Ignore libraries installed via composer
/web/libraries/dropzone
/web/libraries/fakeobjects
/web/libraries/indentblock
/web/libraries/jquery-ui-touch-punch
/web/libraries/link
/web/libraries/youtube

# Ignore docker-related data.
/docker/local-dev/mariadb/data/*
!/docker/local-dev/mariadb/data/.gitkeep
supervisord.*
local.services.yml

# Ignore .env files as they are personal
/.env

# Ignore files generated by Editors
/.idea/
/.editorconfig
/.gitattributes
*.vscode
.vscode
*.DS_Store
